body {
  margin: 0;
}

.addNewNotes {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: black;
  font-size: 27px;
  color: azure;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  z-index: 5;  
}

.board {
  position: relative;
  background: rgb(211, 212, 212);
  width: 100%;
  min-height: 100vw;
}

.note {
  position: absolute;
  width: 160px;
  height: 200px;
  background: black;
  border-radius: 6px;
  box-shadow: 0px 0px 2px white;
}

.deleteNotes {
  font-size: 10px;
  background: rgb(223, 12, 12);
  width: 15px;
  height: 15px; 
  border-radius: 5px 0px 0px 0px;
  cursor: pointer;
  text-align: center;
  line-height: 15px;
  font-weight: bold;
}

.usersText {
  color: white;
  background: black;
  border: none;
  resize: none;
  margin: 5px;
  width: 90%;
  min-height: 0;
  user-select: none;
}